[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
eyed3 = "*"
pyside6 = "*"
pygame = "*"
pathlib = "*"
beautifulsoup4 = "*"
requests = "*"
pyowm = "*"
pyttsx3 = "*"
opencv-python = "*"
numpy = "*"
ipython = "*"
pytest = "*"
pandas = "*"
matplotlib = "*"
excel2json-3 = "*"
xlsxwriter = "*"
xlrd = "*"
pyxlsb = "*"
openpyxl = "*"
streamlit = "*"
watchdog = "*"
xlwings = "*"
pyxll = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
